/* 
Start of first section */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    padding: 0px 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
    

}

.home {
    background-image: url('../images/slider/slider-01.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
position: relative;

}

.header .logo {
    float: left;
    padding-top: 20px;

}

.header .nav {
    float: right;
    padding-top: 20px;

}

.home .header li {
    display: inline;
    padding-left: 20px;
}

.clear-fix {
    clear: both;
}

.header .logo a {
    color: #ff305b;
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;

}

.header .nav a {
    text-decoration: none;
    color: white;
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;

}

.header .nav .navbar-home {
    color: #ff305b;
}

.home .content {
    text-align: center;
    padding-top: 18%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;

}

.home .content h4 {
    color: #ffffff;
    font-weight: 300;
    font-size: 26px;
}

.home .content h3 {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
}

h1 {
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;
}

/* 
End of first section */



/* Start of second section*/


.brief {
    padding: 8%;


}

.brief .brief-image {
    float: left;
    width: 30%;
    position: relative;
    margin-left: 60px;
    border: #555555 solid 7px;
    overflow: hidden;
border-bottom: 0;
border-right: 0;


}

.brief-image .image-layer img {
    width: 100%;
    position: relative;
    top: 15px;
    left: 15px;


}

.brief-image .image-background {
    width: 100%;
    height: 100%;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.57);
    position: absolute;
    top: 0;
    transform:translateY(110%);
  opacity: 0;
transition: all 1s;

}

.brief-image .image-background {
text-align: center;
padding-top: 50%;
}

 .brief-image:hover .image-background {
    opacity: 1;
 transform:translateY(0);
 top: 13;

}
 


.brief .brief-info {
    float: right;
    width: 60%;
    padding-left: 50px;

}

.brief-info .brief-summary h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 13px;
    padding-top: 10px;
    color: #333;

    position: relative;

}

.brief-summary h2::after {
    content: "";
    background-color: #ff305b;
    height: 70%;

    position: absolute;
    top: 10;
    left: 0;
    width: 4px;


}

.brief-info .brief-summary p {
    line-height: 1.5em;
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    padding-bottom: 25px;
    color: #605f5f;

}


.brief-info .brief-summary ul {
    list-style-type: none;
}


.brief-info .brief-summary .first-part {
    float: left;
    padding-right: 40px;
    margin-bottom: 15px;
    line-height: 2.1em;
    font-weight: 400;
}

.brief-info .brief-summary .first-part span {
    color: black;
    font-weight: 500;
}

.brief-info .brief-summary .second-part {
    float: left;
    padding-left: 30px;
    line-height: 2.1em;
    font-weight: 400;
}

.brief-summary .btns {
    padding-left: 40px;
}

.brief-summary .btn {
    background-color: #ff305b;
    border-radius: 4px;
    border: none;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 24px;
    color: #ffffff;
    font-size: 18px;
}
.brief-summary .btn:hover {
    background-color: red;
}
/* 

.Start section of our services  */
.our-services {
    text-align: center;
    padding: 80px;
    background-color: #f1f1f1;

}

.our-services h2 {
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    position: relative;


}

.our-services h2:before {

    content: "";
    width: 80px;
    height: 8px;
    position: absolute;
    border-top: #ff305b 1.5px solid;
    border-bottom: #ff305b 1.5px solid;
    bottom: 5;
    left: 47%;
    top: 50;
}

.our-services h2:after {

    content: "";
    width: 15%;
    height: 25px;
    position: absolute;
    border-bottom: #ff305b 1px solid;
    top: 30;
    left: 42%;


}


.our-services .design-service {
    float: left;
    width: 25%;
    padding-left: 15px;
    transition: all;
    overflow: hidden;


}

.design-service:hover {
    background-color: white;
  
}

.our-services .design-service img {
transition-property: all;
transition-duration: 0.4s;
}
.design-service:hover img {
transform: scale(1.3);

}

.our-services .design-service h3 {
    padding-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 600;


}

.our-services .design-service img {
    padding-top: 10px;
    padding-bottom: 15px;

}

.our-services .design-service p {
    color: #746969;
    font-size: 20px;
}

/* End of second section*/




/* Start of our portfolio section */

.our-portfolio {
    padding: 100px 70px;
    text-align: center;

}

.our-portfolio h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    position: relative;
}

.our-portfolio h2:before {

    content: "";
    width: 80px;
    height: 8px;
    position: absolute;
    border-top: #ff305b 1.5px solid;
    border-bottom: #ff305b 1.5px solid;
    bottom: 5;
    left: 47%;
    top: 50;
}

.our-portfolio h2:after {

    content: "";
    width: 15%;
    height: 25px;
    position: absolute;
    border-bottom: #ff305b 1px solid;
    top: 30;
    left: 42%;


}


.our-portfolio .buttons .btn {
    padding-top: 50px;
    padding-right: 25px;
    background-color: transparent;
    border: none;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 40px;
}

.our-portfolio .buttons .btn-special {
    color: #ff305b;
}

.our-portfolio .images .item {
    width: 30%;
    display: inline-block;

}


.our-portfolio .images .item img {
    width: 100%;
    float: left;
    padding: 15px;
}

/*End of our portfolio section */

/* start of fifth section */

.middle-area {
    background-color: #f1f1f1;
    padding: 50px 90px;
}

.middle-area .section-part {
    width: 25%;
    float: left;
    text-align: center;
    padding-left: 60px;


}

.middle-area h3,
h5 {
    margin-bottom: 10px;
}

.middle-area .section-part img {
    width: 30%;
    height: 35px;
    padding-right: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
}

/* End of fifth section */


/* start section of feedback */
.feedback {
    text-align: center;
    padding: 100px 90px;
}

.feedback h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    position: relative;
    margin-bottom: 60px;
}

.feedback h2:before {

    content: "";
    width: 80px;
    height: 8px;
    position: absolute;
    border-top: #ff305b 1.5px solid;
    border-bottom: #ff305b 1.5px solid;
    bottom: 5;
    left: 47%;
    top: 50;
}

.feedback h2:after {

    content: "";
    width: 15%;
    height: 25px;
    position: absolute;
    border-bottom: #ff305b 1px solid;
    top: 30;
    left: 42%;


}

.feedback-card {


    background: #f1f1f1;
    width: 780px;
    height: 305px;
    margin-left: 19%;
    position: relative;
    border-radius: 3%;
    margin-bottom: 60px;
}

.feedback-card .card-left {
    width: 25%;
    border-left: 200px solid #ff305b;
    border-right: 200px solid transparent;
    border-bottom: 200px solid transparent;

}

.feedback-img img {

    width: 20%;
    border-radius: 50%;
    left: 0;
    top: 40px;
    padding-left: 19px;
    position: absolute;

}


.feedback .feedback-text {
    text-align: left;
    width: 60%;
    float: right;
    position: absolute;
    top: 0;
    left: 22%;




}

.feedback .feedback-text h3 {
    padding-top: 40px;
    font-size: 26px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-left: 10px;
}

.feedback .feedback-text p {
    font-size: 17px;
    padding-left: 12px;
    font-style: italic;
    color: #454444;
    line-height: 1.4em;
    padding-bottom: 20px;
}

.feedback .feedback-text img {
    width: 18%;
}


/* end section of feedback */

/* start of our blog section */

.our-blog {

    text-align: center;
    background-color: #f1f1f1;
    padding: 0px 70px;
    margin: 60px 0px;

}

.our-blog h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin: 40px 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

}


.our-blog h2:before {

    content: "";
    width: 80px;
    height: 8px;
    position: absolute;
    border-top: #ff305b 1.5px solid;
    border-bottom: #ff305b 1.5px solid;
    bottom: 5;
    left: 47%;
    top: 75;
}

.our-blog h2:after {

    content: "";
    width: 12%;
    height: 25px;
    position: absolute;
    border-bottom: #ff305b 1px solid;
    top: 55;
    left: 44%;


}

.our-blog .blog-content {
    width: 33%;
    float: left;
    padding-left: 40px;
    text-align: left;
    margin-bottom: 80px;
}

.our-blog .blog-content img {
    width: 100%;
    margin-bottom: 25px;

}

.our-blog .blog-content p,.our-blog .blog-content h3 {
    margin-bottom: 25px;
    padding-left: 20px;
}

.blog-content h3 a {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.blog-content p {
    font-size: 20px;
    color: #746969;
}

.blog-content a:hover {
    color: #ff305b;
}

.blog-content .blog-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #3f3f3f;
    padding-left: 20px;
    margin-bottom: 30px;

}

.blog-content .blog-btn:hover {
    color: #ff305b;
}

.blog-content .blog-video {
    margin-bottom: 25px;
}

.blog-content .inner {
    background-color: white;

}

.our-blog .blog-content iframe {
    width: 100%;
    height: 31%;

}



/* End of our blog section */

/* start of contact us section  */



.contact-us {
    margin-top: 50px;
    text-align: center;
    background-color: white;
    padding: 0px 90px;

}

.contact-us h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin: 40px 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

}


.contact-us h2:before {

    content: "";
    width: 80px;
    height: 8px;
    position: absolute;
    border-top: #ff305b 1.5px solid;
    border-bottom: #ff305b 1.5px solid;
    bottom: 5;
    left: 47%;
    top: 75;
}

.contact-us h2:after {

    content: "";
    width: 12%;
    height: 25px;
    position: absolute;
    border-bottom: #ff305b 1px solid;
    top: 55;
    left: 44%;

}

.contact-us .form-contact {
    padding-left: 120px;

}

.contact-us .form {

    width: 32%;
    height: 40px;
    padding: 0px 10px;
    font-size: 20px;
    line-height: 1.5;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    margin-left: 12%;
    margin-right: -6%;
    margin-bottom: 40px;

}

.contact-us .form-contact .form-row2 {
    width: 70%;
    margin-left: -70px;
    height: 40px;
    padding: 0px 10px;
    font-size: 20px;
    line-height: 1.5;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 40px;

}

.form-contact .form:hover {
    border: 1px solid #ff305b;
}

.form-contact .form-row2:hover {
    border: 1px solid #ff305b;
}

.contact-us .form-contact .form-row3 {
    width: 70%;
    margin-left: -70px;
    height: 90px;
    padding: 10px;
    font-size: 20px;
    line-height: 1.5;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 40px;

}

.form-contact .form-row3:hover {
    border: 1px solid #ff305b;
}

.contact-us .form-contact .form-btn {
    background-color: #ff305b;
    border-radius: 4px;
    border: none;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin-left: -64%;
    margin-bottom: 50px;
}


/* end of contact us section  */

/* start of footer us section  */

.Home-Ending {
    margin: auto;
    background-color: #333333;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 30px;
    color: #888686;
    font-size: large;
    line-height: 1.86em;

}

.Home-Ending img {
    width: 20%;
    padding-bottom: 5px;

}


/* end of footer us section  */